{% load i18n %}
{% load static %}
{% load form_tags %}
{% load meta_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--IE compatibility-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile friendly-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% if project_meta %}
    {% with project_meta|get_title:page_title as title %}
    {% with project_meta|get_description:page_description as description %}
    {% with project_meta|get_image_url:page_image as image %}
    <title>{% block page_title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ project_meta.KEYWORDS }}">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page_url }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:site_name" content="{{ project_meta.NAME }}" />
    <link rel="canonical" href="{% if page_canonical_url %}{{ page_canonical_url }}{% else %}{{ page_url }}{% endif %}">
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endif %}
    {% endblock meta %}
    {% include 'web/components/favicon.html' %}
    <link rel="stylesheet" href="{% static 'css/site-base.css' %}">
    <link rel="stylesheet" href="{% static 'css/site-tailwind.css' %}">
    <!-- <link rel="stylesheet" href="static/css/site-tailwind.css"> -->
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/v4-shims.min.css"
        integrity="sha512-ARfx5eajdcCAuWvuJrgUuJ6D25ON3KZRTCghNXXKeJldCQJ5bXS+6CvG2EhcFWITF95uwZydzpufSKvhmSpTxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% if GOOGLE_ANALYTICS_ID %}
    {% include 'web/components/google_analytics.html' %}
    {% endif %}
    <script src="{% static 'js/site-bundle.js'%}" defer></script>
    <script>__cssFramework = 'tailwind';</script>
    {% block page_head %}
    {% endblock %}
</head>

<body class="welcome" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="welcome-wrapper">
        <div class="wrapper-content">
            <svg width="88" height="59" viewBox="0 0 88 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M48.9529 55.3394C46.3467 55.3394 43.9316 53.9461 42.6312 51.6895L40.6916 48.3347L40.4566 47.8867L40.4402 47.9031L39.0196 45.4389L38.7683 44.9854L38.6863 44.8542L33.6869 36.205C31.4631 32.3366 25.8791 32.3366 23.6498 36.205L14.7055 51.695C13.4051 53.9516 10.9955 55.3394 8.39474 55.3394C1.931 55.3394 -2.08493 48.362 1.13327 42.7561L21.4151 7.64541C24.6333 2.04496 32.7253 2.04496 35.9435 7.64541L43.1831 20.1631L43.2978 20.3598L43.6639 21.01L45.7129 24.5779L45.7347 24.556L46.0844 25.2062L56.5641 43.3735H56.5422L56.5258 43.3899C59.1211 48.8647 55.1653 55.3448 48.9529 55.3448V55.3394Z"
                    fill="white" />
                <path
                    d="M63.9019 7.7175C61.4411 3.45518 55.9919 1.99419 51.7309 4.45429C47.4699 6.91439 46.0105 12.364 48.4714 16.6263L68.1139 50.6482C70.5748 54.9105 76.024 56.3715 80.285 53.9114C84.546 51.4513 86.0053 46.0017 83.5445 41.7394L63.9019 7.7175Z"
                    fill="white" />
            </svg>
            <h1>Welcome to OnMicro.AI</h1>
            <form class="welcome-form input-image" id="login_form" method="post">
                {% csrf_token %}
                <div class="welcome-field hidden-eye">
                    {% render_field form.login %}
                </div>
                <div class="welcome-field">
                    {% render_field form.password %}
                    <span class="login-password-toggle-icon"><i class="fas fa-eye"></i></span>
                </div>
                {{ form.non_field_errors }}
                <input type="submit" value="Submit">
                <a href="/accounts/password/reset">Forgot Password?</a>
            </form>
        </div>
    </div>
    <script>
        const passwordField = document.getElementById("id_password");
        const togglePassword = document.querySelector(".login-password-toggle-icon i");

        togglePassword.addEventListener("click", function () {
            if (passwordField.type === "password") {
                passwordField.type = "text";
                togglePassword.classList.remove("fa-eye");
                togglePassword.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                togglePassword.classList.remove("fa-eye-slash");
                togglePassword.classList.add("fa-eye");
            }
        });
    </script>
</body>

</html>