{% extends "web/base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% load i18n %}

{% block body %}
<section class="content-section">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="page-content">
        {% for block in page.content %}
            {% if block.block_type == 'heading' %}
                <h2 class="content-heading">{{ block.value }}</h2>
            {% elif block.block_type == 'paragraph' %}
                <div class="content-paragraph">
                    {{ block.value|richtext }}
                </div>
            {% elif block.block_type == 'bullet_list' %}
                <ul class="content-bullet-list">
                    {% for item in block.value %}
                        <li>{{ item|richtext }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}