{% extends "web/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body %}
<section class="content-section">
    <h1 class="page-title">{{ page.title }}</h1>

    {% if page.intro %}
        <div class="intro-text">
            {{ page.intro }}
        </div>
    {% endif %}

    <div class="tryit-app">
        <div class="container">
            <div class="try-boxes">
                {% for app in page.apps %}
                    <div class="try-box">
                        {% image app.value.image width-1600 as img %}
                        <img src="{{ img.url }}" alt="{{ app.value.title }}" class="tile-image">
                        <div class="try-box-text">
                            <h4>{{ app.value.title }}</h4>
                            <p>{{ app.value.description }}</p>
                            <a class="btn-blue" href="{{ app.value.url }}">Try it</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %} 