{% load static %}
{# see https://realfavicongenerator.net #}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/web/favicon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/web/favicon.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/web/favicon.png' %}">
<link rel="manifest" href="{% static 'images/web/favicon.png' %}">
<link rel="mask-icon" href="{% static 'images/web/favicon.png' %}" color="#5bbad5">
<link rel="shortcut icon" href="{% static 'images/web/favicon.png' %}">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-config" content="{% static 'images/favicons/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
