{% load i18n %}
{% load static %}

{% block content %}
    <body class="home">
        <div class="wrapper">
            <section class="hero-banner">
                <div class="container">
                    <div class="text-center">
                        <h1><span>AI-Powered</span>  Apps for Education...as Easy as a Google Form</h1>
                    </div>
                    <div class="hero-btns">
                      <a href="{% url 'account_signup' %}">
                    </div>
                </div>
            </section>
            <section class="hero-banner">
                <div class="container">
                    <div class="text-center">
                        <h1>Try These Free Apps</h1>
                    </div>
                    <div class="hero-boxs">
                        <a href="/mcq_generator">
                            <div class="single-box">
                                <div class="img-box">
                                    <img src= "{% static 'images/web/mcq.png' %}" alt="">
                                </div>
                                <h4>MCQ Generator</h4>
                            </div>
                        </a>
                        <a href="/lo_builder">
                            <div class="single-box">
                                <div class="img-box">
                                  <img src= "{% static 'images/web/lo.png' %}" alt="">
                                </div>
                                <h4>Learning Objectives Builder</h4>
                            </div>
                        </a>
                        <a href="/guided_rubric">
                            <div class="single-box">
                                <div class="img-box">
                                  <img src= "{% static 'images/web/guide.png' %}" alt="">
                                </div>
                                <h4>Guided Rubric</h4>
                            </div>
                        </a>
                        <a href="/storyboard_generator">
                            <div class="single-box">
                                <div class="img-box">
                                  <img src= "{% static 'images/web/storyboard.png' %}" alt="">
                                </div>
                                <h4>Storyboard Generator</h4>
                            </div>
                        </a>
                    </div>
                    <div class="hero-btns">
                        <a href="/library">View All</a>
                    </div>
                </div>
            </section>
            <section class="supercharge">
                <div class="container">
                    <div class="text-center bg-heading">
                        <h2><span>Micro-Apps Supercharge</span> Efficiency Without Sacrificing Quality</h2>
                    </div>
                    <div class="text-center">
                      <img src= "{% static 'images/web/micro-app-image.svg' %}" alt="">
                    </div>
                    <div class="text-center">
                        <p>
                            In a controlled study, participants improved productivity by over 3x and quality by nearly 2x over traditional non-AI methods, when using micro-apps for a specific task
                        </p>
                        <div class="hero-btns">
                            <a href="#">View The Full Study</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="what-app">
                <div class="container">
                    <div class="text-center bg-heading">
                        <h2>What are AI <span>Micro-Apps?</span></h2>
                    </div>
                    <div class="text-center">
                      <img src= "{% static 'images/web/what-app-image.svg' %}" alt="">
                    </div>
                    <div class="text-center">
                        <p>
                            AI MicroApps are flexible AI-powered apps that feel as familiar as building out a form. MicroApps are transparent, so you are always in control of your prompt and have the ability to adapt it.
                        </p>
                        <p>
                            No more “black box”, unchangeable AI solutions. Micro-apps allow organizations to superpower their AI adoption in a brand-consistent way while reducing onboarding and training costs.
                        </p>
                    </div>
                </div>
            </section>
            <section class="benefit-app">
                <div class="container">
                    <div class="text-center bg-heading">
                        <h2>Benefits of <span>Micro-Apps?</span></h2>
                    </div>
                    <h3>For Individuals</h3>
                    <div class="benefit-boxes">
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/supercharge.svg' %}" alt="">
                            <h5>Supercharge Efficiency</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/maintain.svg' %}" alt="">
                            <h5>Maintain Quality</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/customizability.svg' %}" alt="">
                            <h5>Customizability</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/transparency.svg' %}" alt="">
                            <h5>Transparency</h5>
                        </div>
                    </div>
                    <h3>For Organizations</h3>
                    <div class="benefit-boxes">
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/supercharge.svg' %}" alt="">
                            <h5>Increase AI Adoption</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/maintain.svg' %}" alt="">
                            <h5>Increased Security</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/customizability.svg' %}" alt="">
                            <h5>User <br> Feedback</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/transparency.svg' %}" alt="">
                            <h5>Apply GenAI Strategically</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/supercharge.svg' %}" alt="">
                            <h5>Analysis & Oversight</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/maintain.svg' %}" alt="">
                            <h5>Cost <br> Savings</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/customizability.svg' %}" alt="">
                            <h5>Bring your <br>own Data</h5>
                        </div>
                        <div class="benefit-box">
                          <img src= "{% static 'images/web/transparency.svg' %}" alt="">
                            <h5>Reduce On-boarding Burden</h5>
                        </div>
                    </div>
                </div>
            </section>
            <section class="client-say">
                <div class="container">
                    <div class="text-center bg-heading">
                        <h2>What Our <span>Client Says?</span></h2>
                    </div>
                    <div class="reviews-box">
                        <div class="leftpan">
                            <div class="single-review">
                                <div class="r-header">
                                    <img src="static/img/client-1.png" alt="">
                                    <div>    
                                        <h5>John Wellberg</h5>
                                        <h6>Project Manager</h6>
                                    </div>
                                </div>
                                <p>Thanks OnMicro! Not only do I now have a library of apps that I can re-use and adapt for common tasks. I can also share these apps with others!</p>
                            </div>
                            <div class="single-review">
                                <div class="r-header">
                                    <img src="static/img/client-2.png" alt="">
                                    <div>    
                                        <h5>John Wellberg</h5>
                                        <h6>Project Manager</h6>
                                    </div>
                                </div>
                                <p>Thanks OnMicro! Not only do I now have a library of apps that I can re-use and adapt for common tasks. I can also share these apps with others!</p>
                            </div>
                        </div>
                        <div class="rightpan">
                            <div class="single-review">
                                <div class="r-header">
                                    <img src="static/img/client-3.png" alt="">
                                    <div>    
                                        <h5>John Wellberg</h5>
                                        <h6>Project Manager</h6>
                                    </div>
                                </div>
                                <p>Thanks OnMicro! Not only do I now have a library of apps that I can re-use and adapt for common tasks. I can also share these apps with others!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="plan-price">
                <div class="container">
                    <div class="text-center bg-heading">
                        <h2>Strategy your <span>Plan Price</span></h2>
                    </div>
                    <div class="plan-boxes">
                        <div class="single-plan">
                            <h5>Free</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <h6><sup>$</sup>0<sub>/no credit <br>card required</sub></h6>
                            <a href="/register" class="get-start-btn">Get Started</a>
                            <ul>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Access to “Forever free” public apps</span>
                                </li>
                            </ul>
                        </div>
                        <div class="single-plan">
                            <h5>Organization</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed massa risus, aliquam viverra.</p>
                            <h6><sup>$</sup>79<sub><span>/m</span></sub></h6>
                            <a href="/register" class="get-start-btn">Get Started</a>
                            <ul>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Access to full app library</span>
                                </li>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Full access to all AI Models (GPT-5, Gemini, etc)</span>
                                </li>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Customize and share apps</span>
                                </li>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Feedback and Analytics Dashboard</span>
                                </li>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>SSO</span>
                                </li>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Data Isolation</span>
                                </li>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Pooled usage credits</span>
                                </li>
                            </ul>
                        </div>
                        <div class="single-plan">
                            <h5>Individual</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed massa risus, aliquam viverra.</p>
                            <h6><sup>$</sup>16<sub><span>/m</span></sub></h6>
                            <a href="/register" class="get-start-btn">Get Started</a>
                            <ul>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Access to full app library</span>
                                </li>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Full access to all AI Models (GPT-5, Gemini, etc)</span>
                                </li>
                                <li>
                                    <img src="static/img/click-icon.png" alt="">
                                    <span>Customize and share apps</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact-us">
                <div class="container">
                    <div class="content">     
                        <div class="leftpan">
                            <div class="bg-heading">
                                <h2><span>Ready to Power</span> your Organization with AI</h2>
                            </div>
                        </div>
                        <div class="rightpan">
                            <div class="form-box">
                                <div class="form-field">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="form-field">
                                    <input type="text" placeholder="Last Name">
                                </div>
                                <div class="form-field">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="form-field">
                                    <input type="phone" placeholder="Phone">
                                </div>
                            </div>
                            <input type="submit" value="Contact Us">
                            <div class="form-links">
                                <a href="#">Sign Up For Update</a>
                                <a href="#">Get Updates</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    {% endblock content %}