{% extends "web/app/app_base.html" %}
{% load static %}
{% block app %}
<section class="app-card">
  <div class="pg-columns pg-columns-reversed">
    <div class="pg-column-one-quarter">
      <img src="{% static 'images/undraw/undraw_joyride.svg' %}" alt="Yay!">
    </div>
    <div class="pg-column">
      <h1 class="pg-title">My Subscription</h1>
      <h2 class="pg-subtitle">
        {% if next_invoice %}
          You're subscribed to a plan. Thanks for the support!
        {% else %}
          You're subscribed to a plan, but it will not renew after this period. You can still choose to renew if you'd like to keep your plan active.
        {% endif %}
      </h2>
      <p class="pg-subtitle">Subscription Details</p>
      {% include 'subscriptions/components/subscription_details.html' %}
    </div>
  </div>
  {% if subscription %}
  <form method="POST" action="{{ subscription_urls.create_stripe_portal_session }}" class="mt-2">
    {% csrf_token %}
    <button type="submit" class="pg-button-secondary">Manage billing</button>
  </form>
  {% endif %}
</section>
{% endblock %}
