

/* css */
/* Root Variable */
:root{
  --primary-font: "Cousine", monospace;
  --primary-color: #000;
  --secondary-color: #fff;
}
/* Body Style */
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font);
  background: #161616;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
a, 
a:hover{
  text-decoration: none;
  color: var(--secondary-color);
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-center{
  text-align: center;
}
/* Header */
header{
  border-bottom: 0.052vw solid #8A8A8A;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 84.375vw;
  margin: auto;
  width: 100%;
  min-height: 4.479vw;
}
nav{
  display: flex;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 1.823vw;
}
nav ul li a{
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 0.99vw;
  text-align: center;
}
nav ul li a:hover{
  color: #C7C7C7;
}
nav a {
  padding: 0.729vw 1.563vw;
  background: url("data:image/svg+xml,%3Csvg width='216' height='48' viewBox='0 0 216 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.73999 15.7428V9.21702L8.73177 1H213.203C214.342 1 215.26 1.92797 215.26 3.08045V39.9897L207.268 47.5033H2.79713C1.65756 47.5033 0.73999 46.5753 0.73999 45.4228V33.8831' stroke='url(%23paint0_linear_114_139)' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_114_139' x1='108' y1='1' x2='108' y2='48' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235C5EF1'/%3E%3Cstop offset='1' stop-color='%234CFFD4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
}
nav.login ul li:last-child a {
  padding: 0;
  background: none;
  display: block;
}
nav.login ul li:last-child a {
  padding: 0;
  background: none;
  display: block;
}
nav.login ul li a {
  padding: 0;
  background: none;
  display: block;
  background: none;
}
.toggle-btn {
  display: none;
}
/* Home */
.home{
  background: url('../images/web/home-bg.png');
  background-size: 100% 100%;
  z-index: -1;
}
.wrapper{
  width: 100%;
  margin: auto;
}
section,
footer,
.copyright{
  padding: 0 13.021vw;
}
.container{
  padding: 4.688vw 1.042vw;
  border-left: 0.052vw dashed #8A8A8A;
  border-right: 0.052vw dashed #8A8A8A;
}
.hero-banner,
.what-app,
.benefit-app,
.client-say,
.plan-price,
.contact-us,
.supercharge,
.dashboard,
footer,
.fav-sec,
.myapp{
  position: relative;
}
.hero-banner:after,
.what-app:after,
.benefit-app:after,
.client-say:after,
.plan-price:after,
.contact-us:after,
.supercharge:after,
footer:after,
.dashboard:after,
.fav-sec:after,
.myapp:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.052vw;
  border-bottom: 0.052vw dashed #8A8A8A;
}
.bg-heading h2{
  position: relative;
  font-size: 3.125vw;
  font-weight: 700;
  line-height: 4.167vw;
  color: var(--secondary-color);
}
.bg-heading span{
  position: relative;
  background-image: linear-gradient(45deg, #5B69F0, #4DF8D6);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.hero-banner h1{
  font-size: 4.167vw;
  font-weight: 700;
  line-height: 6.25vw;
  text-align: center;
  color: var(--secondary-color);
  margin: auto auto 1.563vw;
}
.hero-banner h1 span{
  background: url('../images/web/hero-span.png');
  background-size: 100% 100%;
  padding: 0.781vw 1.563vw;
}
.hero-btns{
  display: flex;
  justify-content: center;
  gap: 1.563vw;
  align-items: center;
}
.hero-btns a{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.094vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.417vw;
}
.hero-btns a img{
  max-width: 1.042vw;
  width: 100%;
  height: 0.521vw;
}
.hero-btns a{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.708vw;
  height: 100%;
  max-width: 12.24vw;
  min-width: 12.24vw;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='237' height='53' viewBox='0 0 237 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1683V10.0116L9.75474 1H233.746C234.995 1 236 2.0177 236 3.28162V43.7599L227.245 52H3.25354C2.00517 52 1 50.9823 1 49.7184V37.0628' stroke='url(%23paint0_linear_114_154)' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_114_154' x1='74.5' y1='-40' x2='241' y2='106.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235C5EF1'/%3E%3Cstop offset='1' stop-color='%234CFFD4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.hero-boxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.646vw;
  max-width: 51.823vw;
  margin: 3.125vw auto 4.167vw;
}
.single-box {
  text-align: center;
}
.img-box {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='198' height='184' viewBox='0 0 198 184' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_744_1084)'%3E%3Crect width='198' height='184' rx='10' fill='%23D4D4D4' fill-opacity='0.1'/%3E%3Crect x='0.5' y='0.5' width='197' height='183' rx='9.5' stroke='url(%23paint0_linear_744_1084)' stroke-opacity='0.1'/%3E%3Crect x='0.5' y='0.5' width='197' height='183' rx='9.5' stroke='url(%23paint1_linear_744_1084)' stroke-opacity='0.5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_744_1084' x='-35' y='-35' width='268' height='254' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='17.5'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_744_1084'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_744_1084' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_744_1084' x1='8.17432' y1='-23.9388' x2='231.411' y2='48.8244' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_744_1084' x1='129.881' y1='231.408' x2='-63.7233' y2='122.438' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.302vw 1.302vw 0.781vw;
  margin: 0 0 0.781vw;
}
.img-box img{
  width: 4.427vw;
  height: 6.042vw;
  object-fit: contain;
}
.hero-boxs a{
  width: 10.20vw;
}
.single-box h4{
  text-align: center;
  font-size: 1.302vw;
  font-weight: 700;
  line-height: 1.875vw;
  padding: 0 0.521vw;
  color: var(--secondary-color);
}
.supercharge .bg-heading {
  margin: 0 0 3.125vw;
}
.supercharge p{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.667vw;
  text-align: center;
  color: #666666;
  max-width: 32.813vw;
  margin: 3.125vw auto 2.083vw;
}
.supercharge p:last-child{
  margin: 0 auto;
}
.supercharge .hero-btns a {
  min-width: 14.844vw;
  max-width: 14.844vw;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='287' height='53' viewBox='0 0 287 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1683V10.0116L9.75474 1H283.746C284.995 1 286 2.0177 286 3.28162V43.7599L277.245 52H3.25354C2.00517 52 1 50.9823 1 49.7184V37.0628' stroke='url(%23paint0_linear_744_1051)' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_744_1051' x1='74.5' y1='-40' x2='241' y2='106.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235C5EF1'/%3E%3Cstop offset='1' stop-color='%234CFFD4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.what-app p{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.667vw;
  text-align: center;
  color: #666666;
  max-width: 50.26vw;
  margin: 0 auto 00.781vw;
}
.what-app p:last-child{
  margin: 0 auto;
}
.benefit-app h2{
  margin-bottom: 5.208vw;
}
.benefit-app h3{
  font-size: 2.083vw;
  font-weight: 700;
  line-height: 2.865vw;
  text-align: left;
  color: var(--secondary-color);
}
.benefit-boxes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.604vw 1.563vw;
  margin: 2.083vw 0 4.688vw;
}
.benefit-boxes:last-child{
  margin: 2.604vw 0 0;
}
.benefit-box{
  position: relative;
  background: url('../images/web/benefit-box-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.563vw 2.083vw 1.042vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefit-box img {
  max-width: 4.167vw;
  width: 100%;
  min-height: 4.167vw;
  object-fit: contain;
  margin-bottom: 0.781vw;
  background: url('../imges/web/benefit-box-ellipse.png');
  background-size: cover;
}
.benefit-box h5{
  font-size: 1.302vw;
  font-weight: 700;
  line-height: 1.875vw;
  text-align: left;
  color: var(--secondary-color);
}
.reviews-box {
  padding: 7.813vw 0 0;
  display: flex;
  align-items: center;
  gap: 11.458vw;
  position: relative;
}
.reviews-box:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='170' height='670' viewBox='0 0 170 670' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M85 0L85 664' stroke='%238A8A8A' stroke-dasharray='6.5 6.5'/%3E%3Cpath d='M85 222H0.999999' stroke='%238A8A8A' stroke-dasharray='6.5 6.5'/%3E%3Cpath d='M6 217L1 222L6 227' stroke='%238A8A8A'/%3E%3Cpath d='M85 664H0.999999' stroke='%238A8A8A' stroke-dasharray='6.5 6.5'/%3E%3Cpath d='M6 659L1 664L6 669' stroke='%238A8A8A'/%3E%3Cpath d='M85 438H169' stroke='%238A8A8A' stroke-dasharray='6.5 6.5'/%3E%3Cpath d='M164 433L169 438L164 443' stroke='%238A8A8A'/%3E%3C/svg%3E%0A");
  width: 8.854vw;
  height: 34.896vw;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  left: 0;
  right: 0;
}
.reviews-box .leftpan .single-review:first-child{
  margin: 0 0 6.771vw;
}
.single-review{
  background: #D4D4D41A;
  border: 0.104vw solid rgba(255, 255, 255, 0.1);
  border-radius: 0.521vw;
  padding: 1.563vw;
  position: relative;
}
.single-review:after{
  content: '';
  position: absolute;
  top: -0.521vw;
  background-image: url('../images/web/review-after1.png');
  width: 6.979vw;
  height: 7.031vw;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  right: -0.521vw;
  opacity: .8;
  filter: blur(0.313vw);
}
.single-review:hover:after{
  background-image: url('../images/web/review-after2.png');
} 
.single-review .r-header {
  display: flex;
  align-items: center;
  gap: 1.042vw;
  margin: 0 0 1.563vw;
}
.single-review .r-header img{
  max-width: 3.906vw;
  max-height: 3.906vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-review .r-header h5{
  font-size: 1.302vw;
  font-weight: 700;
  line-height: 1.875vw;
  text-align: left;
  color: var(--secondary-color); 
}
.single-review .r-header h6{
  font-size: 0.938vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: #666666;
}
.single-review p{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: #666666;
}
.plan-price .container{
  position: relative;
}
.plan-price .container:after{
  content: '';
  position: absolute;
  top: 1.563vw;
  background-image: url("data:image/svg+xml,%3Csvg width='234' height='270' viewBox='0 0 234 270' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M61.9118 267.719C74.5448 264.411 84.6607 256.531 91.0664 246.332C91.3014 245.933 91.595 245.434 91.83 245.035C92.2998 244.237 92.7697 243.439 93.0816 242.682C93.1404 242.583 93.1991 242.483 93.2578 242.383C99.7445 232.501 109.783 224.979 121.943 221.794C134.26 218.569 146.586 220.319 156.996 225.777C157.095 225.835 157.294 225.952 157.492 226.069C157.988 226.361 158.583 226.711 159.079 227.003C159.773 227.412 160.368 227.762 161.063 228.171C161.36 228.346 161.558 228.463 161.856 228.638C162.253 228.872 162.649 229.105 163.204 229.298C164.651 230.016 166.157 230.634 167.623 231.093L167.821 231.21C167.821 231.21 167.821 231.21 167.92 231.269C170.04 231.979 172.218 232.59 174.455 233.101C174.653 233.218 174.91 233.235 175.167 233.252C177.107 233.588 179.105 233.824 181.161 233.96C181.518 234.036 181.933 234.011 182.289 234.087C184.246 234.165 186.263 234.143 188.297 233.863C189.028 233.756 189.759 233.649 190.49 233.542C192.109 233.287 193.729 233.032 195.407 232.677C195.881 232.552 196.296 232.528 196.711 232.504C197.185 232.38 197.717 232.156 198.191 232.032C199.671 231.56 201.151 231.088 202.69 230.516C203.439 230.152 204.287 229.845 205.036 229.48C206.692 228.709 208.249 227.879 209.707 226.991C210.14 226.709 210.574 226.427 210.948 226.245C212.623 225.215 214.099 224.07 215.575 222.924C216.008 222.642 216.401 222.201 216.834 221.919C218.545 220.374 220.157 218.771 221.728 217.009L221.846 216.81C221.963 216.61 222.022 216.511 222.14 216.311C223.101 215.131 224.063 213.951 224.926 212.713C225.22 212.214 225.513 211.715 225.807 211.217C226.394 210.219 227.04 209.122 227.628 208.124C227.98 207.526 228.274 207.027 228.626 206.429C229.272 205.332 229.661 204.217 230.109 203.003C230.403 202.504 230.597 201.947 230.733 201.49C231.316 199.818 231.9 198.147 232.226 196.459C232.362 196.001 232.457 195.386 232.494 194.87C232.783 193.697 233.033 192.366 233.223 191.135C233.377 190.42 233.374 189.746 233.428 188.972C233.56 187.841 233.534 186.751 233.666 185.62C233.721 184.846 233.618 184.114 233.673 183.34C233.647 182.25 233.521 181.101 233.396 179.953C233.293 179.221 233.289 178.547 233.245 177.715C233.039 176.25 232.774 174.885 232.41 173.462C232.388 173.046 232.267 172.571 232.186 172.255C230.932 167.352 228.929 162.815 226.434 158.659C226.235 158.542 226.254 158.284 226.055 158.168C225.357 157.085 224.56 155.944 223.762 154.803C223.483 154.37 223.145 154.036 222.767 153.545C222.15 152.778 221.532 152.012 220.915 151.245C220.338 150.637 219.761 150.029 219.185 149.421C218.747 149.029 218.369 148.537 217.833 148.087C216.958 147.304 216.084 146.52 215.151 145.837C214.953 145.72 214.754 145.603 214.457 145.428C213.285 144.469 212.054 143.61 210.666 142.793C210.368 142.617 209.971 142.384 209.575 142.15C209.575 142.15 209.575 142.15 209.475 142.092C208.682 141.625 207.988 141.216 207.136 140.848C207.136 140.848 207.036 140.79 206.937 140.732C197.114 134.276 189.663 124.247 186.549 112.07C183.394 99.7342 185.201 87.3649 190.695 76.8985C190.754 76.7987 190.872 76.5992 190.989 76.3997C191.283 75.901 191.635 75.3025 191.929 74.8037C192.34 74.1055 192.692 73.507 193.103 72.8087C198.815 62.2012 200.64 49.574 197.445 37.0804C190.69 10.6697 163.911 -5.09762 137.54 1.80817C111.168 8.71397 95.2516 35.7462 102.006 62.1568C105.404 75.4411 113.807 85.8962 124.717 92.32L125.212 92.6119C135.707 99.06 144.011 109.457 147.327 122.425C150.644 135.393 148.467 148.619 142.281 159.35L141.87 160.048C141.87 160.048 141.753 160.248 141.694 160.348C135.211 170.904 124.86 179.183 111.912 182.574C98.9627 185.965 85.7844 183.847 75.1134 177.698L74.4191 177.29C74.4191 177.29 74.2207 177.173 74.1215 177.114C63.3513 170.907 50.2722 168.848 37.3233 172.239C20.9003 176.54 8.41686 188.668 3.16582 203.71C-0.00465228 212.725 -0.758196 222.624 1.79002 232.588C4.33822 242.551 9.68455 250.938 16.8372 257.164C16.8372 257.164 17.0356 257.281 17.1348 257.339C17.2339 257.398 17.4323 257.515 17.5315 257.573C29.3129 267.734 45.6467 271.978 61.9118 267.719Z' fill='white' fill-opacity='0.04'/%3E%3C/svg%3E%0A");
  width: 11.979vw;
  height: 14.583vw;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  left: -3.125vw;
  z-index: -1;
}
.plan-price .container:before{
  content: '';
  position: absolute;
  top: -8.854vw;
  background-image: url("data:image/svg+xml,%3Csvg width='230' height='279' viewBox='0 0 230 279' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M179.119 246.187C183.57 233.91 182.828 221.108 178.07 210.044C177.875 209.624 177.631 209.1 177.436 208.68C177.046 207.84 176.656 207 176.21 206.313C176.162 206.208 176.113 206.103 176.064 205.998C171.613 195.047 171.121 182.513 175.405 170.696C179.744 158.725 188.184 149.573 198.588 144.103C198.692 144.055 198.901 143.958 199.11 143.861C199.631 143.618 200.258 143.327 200.78 143.085C201.51 142.746 202.137 142.455 202.867 142.115C203.181 141.97 203.389 141.873 203.703 141.728C204.12 141.534 204.538 141.34 205.011 140.992C206.424 140.209 207.787 139.32 208.998 138.375L209.207 138.278C209.207 138.278 209.207 138.278 209.311 138.229C211.1 136.888 212.839 135.442 214.53 133.891C214.739 133.794 214.899 133.592 215.059 133.39C216.437 131.985 217.765 130.474 219.046 128.859C219.31 128.608 219.526 128.253 219.79 128.002C220.966 126.435 222.093 124.763 223.018 122.93C223.345 122.267 223.672 121.605 223.999 120.943C224.708 119.464 225.418 117.986 226.078 116.403C226.245 115.943 226.461 115.587 226.676 115.232C226.843 114.771 226.961 114.206 227.128 113.746C227.58 112.259 228.032 110.773 228.435 109.182C228.56 108.358 228.79 107.486 228.915 106.662C229.22 104.861 229.422 103.108 229.519 101.404C229.532 100.887 229.546 100.37 229.609 99.9584C229.712 97.9958 229.607 96.1301 229.502 94.2644C229.516 93.7475 229.377 93.1741 229.39 92.6572C229.09 90.3716 228.686 88.1344 228.128 85.8408L228.031 85.6308C227.933 85.4208 227.884 85.3158 227.787 85.1058C227.362 83.6441 226.937 82.1823 226.407 80.769C226.163 80.244 225.92 79.7191 225.676 79.1942C225.188 78.1443 224.652 76.9895 224.164 75.9396C223.872 75.3097 223.628 74.7847 223.336 74.1548C222.799 73 222.103 72.0471 221.358 70.9891C221.114 70.4642 220.766 69.9877 220.466 69.6163C219.422 68.1869 218.377 66.7576 217.173 65.5301C216.873 65.1587 216.421 64.7307 216.017 64.4077C215.216 63.5033 214.262 62.5423 213.357 61.6864C212.856 61.1534 212.299 60.7739 211.693 60.2895C210.837 59.5385 209.925 58.941 209.068 58.19C208.463 57.7055 207.801 57.3745 207.196 56.89C206.284 56.2925 205.267 55.7435 204.251 55.1945C203.59 54.8635 203.033 54.484 202.323 54.048C201 53.386 199.726 52.8289 198.348 52.3203C197.993 52.1023 197.533 51.9328 197.227 51.8198C192.479 50.0681 187.607 49.1402 182.769 48.8342C182.561 48.9311 182.359 48.7697 182.15 48.8666C180.862 48.8265 179.47 48.8348 178.078 48.8432C177.563 48.8271 177.097 48.916 176.477 48.9485C175.496 49.0213 174.515 49.0942 173.533 49.1671C172.705 49.2965 171.877 49.4258 171.048 49.5552C170.478 49.6926 169.858 49.7251 169.183 49.9109C168.042 50.1858 166.9 50.4606 165.808 50.8404C165.599 50.9374 165.39 51.0343 165.077 51.1798C163.623 51.6 162.217 52.1253 160.755 52.804C160.442 52.9494 160.025 53.1433 159.607 53.3372C159.607 53.3372 159.607 53.3372 159.503 53.3857C158.668 53.7736 157.937 54.1129 157.15 54.6057C157.15 54.6057 157.046 54.6542 156.942 54.7027C146.05 59.1227 133.564 59.5612 121.772 55.2101C109.826 50.8025 100.671 42.2915 95.1753 31.8252C95.1265 31.7203 95.029 31.5103 94.9315 31.3003C94.6877 30.7754 94.3952 30.1455 94.1514 29.6205C93.8101 28.8856 93.5175 28.2557 93.1762 27.5208C87.6879 16.7961 78.3303 8.12354 66.2318 3.65946C40.6565 -5.77727 12.4718 7.31217 3.18157 32.941C-6.10867 58.5699 7.10464 87.0213 32.6799 96.4581C45.5442 101.205 58.9215 100.225 70.4042 94.8922L70.9261 94.6498C82.1931 89.6724 95.466 88.7411 108.024 93.3747C120.582 98.0083 130.232 107.311 135.553 118.496L135.895 119.231C135.895 119.231 135.992 119.441 136.041 119.546C141.049 130.876 141.987 144.098 137.425 156.682C132.863 169.266 123.637 178.911 112.516 184.204L111.786 184.543C111.786 184.543 111.577 184.64 111.472 184.688C100.247 190.029 91.1257 199.626 86.564 212.21C80.7784 228.171 83.6728 245.333 93.0735 258.197C98.6931 265.925 106.414 272.167 116.062 275.727C125.71 279.287 135.65 279.649 144.837 277.297C144.837 277.297 145.045 277.2 145.15 277.151C145.254 277.103 145.463 277.006 145.567 276.957C160.621 273.029 173.39 261.994 179.119 246.187Z' fill='white' fill-opacity='0.04'/%3E%3C/svg%3E%0A");
  width: 11.979vw;
  height: 14.583vw;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  right: 1.563vw;
  z-index: -1;
}
.plan-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.083vw;
  margin: 5.208vw 0 0;
}
.single-plan {
  background: #D4D4D41A;
  border-radius: 0.521vw;
  border: 0.104vw solid rgba(255, 255, 255, 0.1);
  padding: 2.083vw 1.563vw;
  height: fit-content;
}
.single-plan:first-child,
.single-plan:last-child{
  margin: 4.688vw 0 0;
}
.single-plan h5 {
  font-size: 2.083vw;
  font-weight: 400;
  line-height: 2.865vw;
  text-align: left;
  color: var(--secondary-color);
  margin: 0 0 1.563vw;
}
.single-plan h6 {
  font-size: 110px;
  font-weight: 700;
  line-height: 2.865vw;
  text-align: left;
  display: flex;
  color: var(--secondary-color);
  margin: 2.604vw 0 2.083vw;
  align-items: start;
}
.single-plan h6 sup {
  font-size: 2.083vw;
  font-weight: 400;
  line-height: 2.865vw;
  text-align: left;
  margin: -1.302vw 0 0;
}
.single-plan:first-child h6 sup:last-child{
  font-size: 1.458vw;
}
.single-plan h6 sub {
  font-size: 1.458vw;
  font-weight: 400;
  line-height: 2.083vw;
  text-align: left;
  margin: 1.302vw 0 0;
}
.single-plan:first-child h6 sub:last-child{
  margin: 0;
}
.single-plan p {
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: #666666;
}
.single-plan ul{
  margin: 1.042vw 0 0;
}
.single-plan ul li {
  display: flex;
  align-items: start;
  gap: 0.521vw;
  border-bottom: 0.052vw solid #666666;
  padding: 1.563vw 0;
}
.single-plan ul li:last-child{
  border-bottom: none;
  padding: 1.563vw 0 0;
}
.single-plan ul li span {
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: #666666;
}
.single-plan li img {
  max-width: 0.833vw;
  max-height: 0.833vw;
  width: 100%;
  height: 100%;
  margin: 0.26vw 0 0;
}
.single-plan .get-start-btn {
  padding: 0.781vw;
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.094vw;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg width='375' height='53' viewBox='0 0 375 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1686V10.0118L9.75474 1.00026L372.246 1C373.495 1 374.5 2.0177 374.5 3.28162V43.7599L365.745 52L3.25354 52.0003C2.00517 52.0003 1 50.9826 1 49.7186V37.063' stroke='white' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
}
.single-plan:hover .get-start-btn{
  background-image: url("data:image/svg+xml,%3Csvg width='375' height='53' viewBox='0 0 375 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1683V10.0116L9.75474 1L372.246 1C373.495 1 374.5 2.0177 374.5 3.28162V43.7599L365.745 52H3.25354C2.00517 52 1 50.9823 1 49.7184V37.0628' stroke='url(%23paint0_linear_114_391)' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_114_391' x1='99' y1='-39.5' x2='280' y2='105' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235C5EF1'/%3E%3Cstop offset='1' stop-color='%234CFFD4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
.contact-us .content{
  display: flex;
  max-width: 63.021vw;
  width: 100%;
  margin: auto;
  gap: 3.646vw;
}
.contact-us .leftpan{
  max-width: 23.958vw;
  width: 100%;
}
.contact-us .rightpan{
  width: 100%;
}
.form-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.042vw;
}
.form-field input{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.094vw;
  color: #666666;
  width: 100%;
  height: 2.813vw;
  border: none;
  box-shadow: none;
  padding: 1.563vw;
}
.form-field:first-child input,
.form-field:last-child input{
  background: url("data:image/svg+xml,%3Csvg width='334' height='53' viewBox='0 0 334 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1683V10.0116L13.3684 1H329.816C331.58 1 333 2.0177 333 3.28162V43.7599L320.632 52H4.18372C2.42008 52 1 50.9823 1 49.7184V37.0628' stroke='%23666666' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.form-field:nth-child(2) input,
.form-field:nth-child(3) input{
  background: url("data:image/svg+xml,%3Csvg width='334' height='53' viewBox='0 0 334 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 35.8317V42.9884L13.3684 52H329.816C331.58 52 333 50.9823 333 49.7184V9.2401L320.632 1H4.18372C2.42008 1 1 2.0177 1 3.28162V15.9372' stroke='%23666666' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.form-field:first-child input:focus-visible,
.form-field:last-child input:focus-visible{
  background-image: url("data:image/svg+xml,%3Csvg width='334' height='53' viewBox='0 0 334 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1683V10.0116L13.3684 1H329.816C331.58 1 333 2.0177 333 3.28162V43.7599L320.632 52H4.18372C2.42008 52 1 50.9823 1 49.7184V37.0628' stroke='white' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: none;
}
.form-field:nth-child(2) input:focus-visible,
.form-field:nth-child(3) input:focus-visible{
  background-image: url("data:image/svg+xml,%3Csvg width='334' height='53' viewBox='0 0 334 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 35.8317V42.9884L13.3684 52H329.816C331.58 52 333 50.9823 333 49.7184V9.24011L320.632 1H4.18372C2.42008 1 1 2.0177 1 3.28162V15.9372' stroke='white' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: none;
}
.contact-us input[type="submit"]{
  background: url("data:image/svg+xml,%3Csvg width='692' height='53' viewBox='0 0 692 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1683V10.0116L9.75474 1L689.246 1C690.495 1 691.5 2.0177 691.5 3.28162V43.7599L682.745 52H3.25354C2.00517 52 1 50.9823 1 49.7184V37.0628' stroke='url(%23paint0_linear_114_476)' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_114_476' x1='76' y1='-40' x2='242.5' y2='106.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235C5EF1'/%3E%3Cstop offset='1' stop-color='%234CFFD4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.094vw;
  text-align: center;
  color: var(--secondary-color);
  width: 100%;
  padding: 0.781vw;
  box-shadow: none;
  border: none;
  margin: 1.042vw 0 0;
  cursor: pointer;
}
.form-links {
  gap: 1.302vw;
  display: flex;
  justify-content: center;
  margin: 1.042vw 0 0;
  position: relative;
}
.form-links::after{
  content: '';
  background: var(--secondary-color);
  border-radius: 2.604vw;
  width: 0.26vw;
  height: 0.26vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.form-links a{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.094vw;
  color: var(--secondary-color);
  text-decoration: underline;
  width: 100%;
}
.form-links a:first-child{
  text-align: right;
}
.footer .container{
  display: flex;
  justify-content: space-between;
}
.footer .column{
  width: 100%;
}
.footer .column:first-child{
  max-width: 14.583vw;
}
.footer .column:nth-child(2),
.footer .column:nth-child(3),
.footer .column:nth-child(4),
.footer .column:last-child{
  max-width: 8.333vw;
}
.footer .column img{
  margin: 0 0 1.563vw;
}
.footer .column p{
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1.458vw;
  text-align: left;
  color: #C7C7C7;
}
.footer .column h6{
  font-size: 0.833vw;
  font-weight: 700;
  line-height: 1.458vw;
  text-align: left;
  color: var(--secondary-color);
  margin: 0 0 1.042vw;
}
.footer .column ul li a{
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 2.083vw;
  text-align: left;
  color: #C7C7C7;
}
.footer .column ul li a:hover{
  color: var(--secondary-color);
}
.copyright .container{
  padding: 0.781vw 1.042vw 0.521vw;
  display: flex;
  justify-content: space-between;
}
.copyright p{
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1.458vw;
  text-align: left;
  color: #C7C7C7;
  margin: 0;
}
.copyright .social-icons{
  display: flex;
  gap: 0.781vw;
  align-items: center;
}
.copyright .social-icons li a syg{
  max-width: 0.885vw;
  width: 100%;
}
.copyright .social-icons li a:hover svg path{
  fill-opacity: 1;
}
/* Library Page */
.library{
  background: url('../images/web/lib-bg.png');
  background-size: 100% 100%;
  z-index: -1;
}
.dropdown .dropbtn {
  background-color: transparent;
  color: #000;
  padding: 0;
  border: none;
  border-radius: 2.604vw;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1;
  padding: 0.781vw;
}
.dropdown-content a {
  display: block;
  padding: 0.781vw;
  color: #000;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #666666;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.content-wrap{
  display: flex;
  justify-content: space-between;
  padding: 0 13.021vw 0 7.813vw;
  position: relative;
}
.content-wrap::after{
  border-bottom: 0.052vw dashed #8A8A8A;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.052vw;
}
.content-wrap .leftpan{
  border-left: 0.052vw dashed #8A8A8A;
  border-right: 0.052vw dashed #8A8A8A;
  max-width: 19.792vw;
  width: 100%;
}
.content-wrap .rightpan{
  max-width: 59.896vw;
  width: 100%;
  border-right: 0.052vw dashed #8A8A8A;
  padding: 4.688vw 2.604vw;
}
.content-wrap h1{
  font-size: 4.167vw;
  font-weight: 700;
  line-height: 4.688vw;
  text-align: left;
  color: var(--secondary-color);
  margin: 0 0 2.083vw;
}
.content-wrap p{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.667vw;
  text-align: left;
  color: #666666;
}
.library-boxes{    
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.427vw 3.646vw;
  margin: 3.125vw 0 0;
}
.single-library img{
  width: 100%;
  margin: 0 0 1.563vw;
}
.single-library h3{
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.302vw;
  font-weight: 700;
  line-height: 1.823vw;
  width: 100%;
}
.search-bar{
  display: flex;
  gap: 1.042vw;
  padding: 0.781vw 1.302vw;
  border-bottom: 0.052vw dashed #8A8A8A;
}
.search-bar input{
  background: transparent;
  border: none;
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: #666666;
  width: 100%;
}
.search-bar input:focus-visible{
  outline: none;
}
.accordion-item.active .accordion-content {
  display: block;
}
.accordion-title {
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: #666666;
  position: relative;
  padding: 0.781vw 1.302vw;
  border-bottom: 0.052vw dashed #8A8A8A;
}
.accordion-title:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1.563vw;
  width: 0.417vw;
  height: 0.417vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.82812 4L3.9997 1.17157L1.17127 4' stroke='%238A8A8A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.accordion-item.active .accordion-title::after{
  transform: rotate(180deg);
}
.accordion-title:hover{
  cursor: pointer;
}
.accordion-content {
  display: none;
  border-bottom: 0.052vw dashed #8A8A8A;
  padding: 0.781vw 1.302vw;
}
.accordion-content .content-title,
.accordion-content ul li a{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: #666666;
}
.accordion-content .content-title{
  margin: 0 0 0.521vw;
}
.accordion-content ul{
  font-size: 0.938vw;
  list-style: disc;
  color: #666666;
  padding-left: 1.563vw;
}
.box-1{
  padding: 0 0 4.167vw;
  position: relative;
}
.box-2{
  padding: 4.167vw 0 0;
  position: relative;
}
.box-2::after{
  border-bottom: 0.052vw dashed #8A8A8A;
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  left: -100%;
  width: -webkit-fill-available;
  height: 0.052vw;
}
.box-2 h2{
  font-size: 2.083vw;
  font-weight: 700;
  line-height: 2.865vw;
  text-align: left;
  color: var(--secondary-color);
}
.single-use .use-header{
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 0.052vw solid #8A8A8A;
  padding: 0 0 1.042vw;
  margin: 0 0 1.042vw;
}
.single-use .use-header:after{
  content: '';
  position: absolute;
  top: -2.083vw;
  right: -2.083vw;
  background-image: url('../images/web/use-ellipse.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 7.813vw;
  height: 7.813vw;
  background-position: top right;
}
.single-use h3{
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  color: var(--secondary-color);
  width: 100%;
}
/* Welcome */
.welcome{
  background: url('../images/web/login-bg.png');
  background-size: 100% 100%;
  z-index: -1;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}
.welcome-wrapper{
  max-width: 33.333vw;
  min-width: 33.333vw;
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  margin: 0 0 0 8.333vw;
  width: 100%;
}
.welcome-wrapper .wrapper-content {
  width: 100%;
}
.welcome-wrapper h1{
  font-size: 4.167vw;
  font-weight: 700;
  line-height: 6.25vw;
  text-align: left;
  color: var(--secondary-color);  
}
.welcome-form{
  text-align: center;
}
.welcome-form .welcome-field{
  margin: 0 0 1.563vw;
}
.welcome-form .welcome-field input{
  background: url("data:image/svg+xml,%3Csvg width='642' height='79' viewBox='0 0 642 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 25.4574V14.6521L14.039 1.04639H637.644C639.503 1.04639 641 2.58292 641 4.49119V65.6054L627.961 78.0464H4.35633C2.49707 78.0464 1 76.5099 1 74.6016V55.4941' stroke='white' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.094vw;
  width: 100%;
  color: var(--secondary-color);
  height: 4.01vw;
  border: none;
  box-shadow: none;
  padding: 0 1.563vw;
}
.welcome-form .welcome-field input::placeholder{
  color: #666666;
}
.welcome-form .welcome-field input:focus-visible{
  outline: none;
}
.welcome-form input[type="submit"]{
  background: url("data:image/svg+xml,%3Csvg width='642' height='79' viewBox='0 0 642 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 25.4574V14.6521L14.039 1.04639H637.644C639.503 1.04639 641 2.58292 641 4.49119V65.6054L627.961 78.0464H4.35633C2.49707 78.0464 1 76.5099 1 74.6016V55.4941' stroke='url(%23paint0_linear_17_53)' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_17_53' x1='70.5148' y1='-60.8555' x2='282.471' y2='53.6337' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235C5EF1'/%3E%3Cstop offset='1' stop-color='%234CFFD4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.094vw;
  text-align: center;
  color: var(--secondary-color);
  width: 100%;
  padding: 0.781vw;
  box-shadow: none;
  border: none;
  cursor: pointer;
  height: 4.01vw;
  margin: 0 0 1.042vw;
}
.welcome-form a{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: var(--secondary-color);
  text-decoration: underline;
}
.welcome-form p{
  position: relative;
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: center;
  color: var(--secondary-color);
  margin: 1.563vw 0 0;
}
.welcome-form p::after,
.welcome-form p::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0.052vw;
  width: 10.833vw;
  background-color: var(--secondary-color);
}
.welcome-form p::after{
  right: 0;
}
.welcome-form p::before{
  left: 0;
}
.welcome-social {
  display: flex;
  justify-content: center;
  gap: 1.823vw;
  margin: 2.083vw 0 0 0;
}
/* Register */
.register{
  background: url('../images/web/register-bg.png');
  background-size: 100% 100%;
  z-index: -1;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.register .welcome-wrapper h1{
  text-align: center;
  margin: 0 0 1.563vw;
}
.register .welcome-social {
  margin: 2.083vw 0 1.083vw;
}
.register input[type="submit"]{
  margin: 0;
}
/* Dashboard */
.dashboard-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-content h1{
  font-size: 1.563vw;
  font-weight: 400;
  line-height: 2.083vw;
  text-align: left;
  color: var(--secondary-color);    
}
.dashboard-content p{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.615vw;
  text-align: left;
  color: var(--secondary-color);
}
.search-box {
  padding: 0 0 0 1.042vw;
  display: flex;
  align-items: center;
  max-width: 23.958vw;
  width: 100%;
  gap: 1.042vw;
  background-image: url("data:image/svg+xml,%3Csvg width='423' height='70' viewBox='0 0 423 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_744_1632)'%3E%3Cpath d='M9.99999 70H413C418.523 70 423 65.5228 423 60V41.4815V10C423 4.47715 418.536 0 413.013 0H9.82888C4.30603 0 0 4.47715 0 10V60C0 65.5229 4.47714 70 9.99999 70Z' fill='%23D4D4D4' fill-opacity='0.1'/%3E%3Cpath d='M413 69H9.99999C5.02943 69 1 64.9706 1 60V10C1 5.00675 4.88073 1 9.82888 1H413.013C417.982 1 422 5.02769 422 10V41.4815V60C422 64.9706 417.971 69 413 69Z' stroke='url(%23paint0_linear_744_1632)' stroke-opacity='0.5' stroke-width='2'/%3E%3Cpath d='M413 69H9.99999C5.02943 69 1 64.9706 1 60V10C1 5.00675 4.88073 1 9.82888 1H413.013C417.982 1 422 5.02769 422 10V41.4815V60C422 64.9706 417.971 69 413 69Z' stroke='url(%23paint1_linear_744_1632)' stroke-opacity='0.1' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_744_1632' x='-35' y='-35' width='493' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='17.5'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_744_1632'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_744_1632' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_744_1632' x1='5.91542' y1='-46.479' x2='315.8' y2='-33.6557' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_744_1632' x1='76.9955' y1='-43.8636' x2='311.637' y2='59.5669' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: 100%;
}
.search-box input[type="search"] {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1.042vw;
  text-align: left;
  color: var(--secondary-color);
  padding: 1.458vw 1.042vw 1.458vw 0;
}
.search-box input[type="search"]::placeholder {
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1.042vw;
  text-align: left;
  color: var(--secondary-color);
}
.search-box input[type="search"]:focus-visible{
  outline: none;
}
.design-browse {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-image: url('../images/web/browse-bg.png');
  background-size: 100% 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 4.688vw 2.083vw 2.083vw;
}
.design-browse .leftpan{
  max-width: 36.979vw;
  width: 100%;
}
.design-browse h2{
  font-size: 2.604vw;
  font-weight: 700;
  line-height: 3.229vw;
  text-align: left;
  color: var(--secondary-color);
}
.design-browse p{
  font-size: 0.938vw;
  font-weight: 400;
  line-height: 1.667vw;
  text-align: left;
  color: #BCBCBC;
}
.fav-sec-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2.083vw;
}
.new-btn a {
  text-decoration: underline;
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1.042vw;
  text-align: center;
}
.fav-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.604vw 1.563vw;
  margin: 0 0 4.167vw;
}
.fav-boxes:last-child{
  margin: 0;
}
.single-fav {
  position: relative;
  background: url('../images/web/fav-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.563vw 2.083vw 1.042vw;
}
.single-fav h5 {
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 1.042vw 0 0;
  color: var(--secondary-color);
}
.fav-header {
  display: flex;
  gap: 0.521vw;
  align-items: center;
  margin: 0 0 1.042vw;
}
.myapp .bg-heading{
  margin: 0 0 2.083vw;
}
.app-boxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.604vw 1.563vw;
}
.single-app{
  position: relative;
  background: url('../images/web/app-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.042vw;
}
.single-app img{
  width: 100%;
  margin: 0 0 1.042vw;
}
.title-progress{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-progress h3{
  font-size: 1.302vw;
  font-weight: 700;
  line-height: 1.823vw;
  text-align: left;
  color: var(--secondary-color);
  max-width: 16.667vw;
}
.progress-bar {
  width: 2.813vw;
  height: 2.813vw;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: transparent;
  text-align: left;
  font-size: 0.781vw;
  font-weight: 400;
  line-height: 1.667vw;
  color: var(--secondary-color);
  padding: 0.625vw;
}
.progress-bar::after {content: "%";position: absolute;}
.progress-bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0;
  border-radius: 5.208vw;
  border: 0.156vw solid #8E8EA0;
}
.progress-bar .title {position: relative;z-index: 100;}
.progress-bar .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #07070c
}
.progress-bar .left, .progress-bar .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.156vw solid #5C5EF1;
  border-radius: 5.208vw 0px 0px 5.208vw;
  border-right: 0;
  transform-origin: right;
}
.progress-bar .left {animation: load1 1s linear forwards;}
.progress-bar:nth-of-type(2) .right, .progress-bar:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}
.progress-bar:last-of-type .right, .progress-bar:first-of-type .right {animation: load3 .8s linear forwards 1s;}
@keyframes load1 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
@keyframes load2 {
  0% {z-index: 100;transform: rotate(180deg);}
  100% {z-index: 100;transform: rotate(270deg);}
}
@keyframes load3 {
  0% {z-index: 100;transform: rotate(180deg);}
  100% {z-index: 100;transform: rotate(315deg);}
}
.tag-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.604vw 1.563vw;
  margin: 1.042vw 0;
}
.single-tag {
  display: flex;
  align-items: center;
  gap: 0.521vw;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg width='123' height='34' viewBox='0 0 123 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_744_1796)'%3E%3Cpath d='M10 34H113C118.523 34 123 29.5228 123 24V20.1481V10C123 4.47715 118.525 0 113.003 0H9.95643C4.43358 0 0 4.47715 0 10V24C0 29.5228 4.47715 34 10 34Z' fill='%23D4D4D4' fill-opacity='0.1'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_b_744_1796' x='-35' y='-35' width='193' height='104' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='17.5'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_744_1796'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_744_1796' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: cover;
  padding: 0.26vw;
  background-repeat: no-repeat;
}
.app-count{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-count p{
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1.875vw;
  text-align: left;
  color: #BCBCBC;
}
@media screen and (max-width:1024px) {
  .toggle-btn {
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
  }
  nav{
      transition: .3s ease-in-out;
      opacity: 0;
      visibility: hidden;
      display: none;
  }
  .nav-open {
      display: block;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #000;
      z-index: 9;
      height: 100%;
      transition: .3s ease-in-out;
      opacity: 1;
      visibility: visible;
  }
  .toggle-btn span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: var(--secondary-color);
      margin-bottom: 8px;
      transition: .3s ease-in-out;
  }
  .toggle-btn.active{
      z-index: 91;
      position: relative;
  }
  .toggle-btn.active span:first-child {
      display: none;
  }
  .toggle-btn.active span:nth-child(2) {
      transform: rotate(45deg);
      transition: .3s ease-in-out;
      margin: 0;
  }
  .toggle-btn.active span:last-child {
      transform: rotate(-45deg);
      transition: .3s ease-in-out;
      margin: -2px 0 0;
  }
  .nav-open ul {
      flex-direction: column;
      align-items: start;
      padding: 60px 60px 0;
      gap: 30px;
  }
  nav ul li a {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
  }
  nav ul li:first-child a{
      gap: 10px;
  }
  nav ul li:first-child a img{
      max-width: 15px;
  }
  nav ul li:last-child a{
      padding: 15px 30px;
  }
}

.password-reset-section .pg-title {
  margin: 0 0 1.563vw;
  font-size: 4.167vw;
  font-weight: 700;
  line-height: 6.25vw;
  text-align: center;
  color: var(--secondary-color);
}

.password-reset-section  {
  max-width: 50%;
  margin: 4vw auto;
}
.password-reset-section  .welcome-form {
  max-width: 65%;
  margin: 0 auto;
}

.password-reset-section  .pg-subtitle {
  text-align: center;
  color: #fff;
  margin-bottom: 1vw;
  font-weight: 400;
}

.password-reset-section  .pg-help {
  color: #fff;
}

.password-reset-section .welcome-field {
  text-align: center;
}
