<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/site-tailwind.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <link href="https://unpkg.com/survey-jquery/defaultV2.min.css" type="text/css" rel="stylesheet">
    <title>MCQS Generator</title>
</head>
<body>
    <div class="app-container" id="app-container" class="mcqs">

      <section class="sidebar hidden-sidebar" id="sidebar">
         <h1>OpenAI Configuration</h1>
         <form action="#" class="sidebar-form">
            <div class="form-field">
               <label for="ApiKey">Enter API Key to use GPT-4: </label>
               <input id="gpt4ApiKey" type="text" data-listener-added_f11a48fe="true">
            </div>
            <div class="form-field">
               <label for="AIModel">OpenAI Models </label>
               <!-- <input type="text" id="AIModel"> -->
               <div class="select-option" id="multi-select">
                  <div class="row d-flex justify-content-center mt-100">
                     <div class="col-md-6">
                        <div class="choices" data-type="select-multiple" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" dir="ltr">
      <div class="choices__inner"><select id="choices-multiple-remove-button" placeholder="Choose an option" multiple="" class="choices__input is-hidden" tabindex="-1" aria-hidden="true" data-choice="active"><option value="gpt-3.5-turbo" selected="">GPT 3.5-turbo</option></select><div class="choices__list choices__list--multiple"><div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="gpt-3.5-turbo" data-custom-properties="null" data-deletable="" aria-selected="true">
          GPT 3.5-turbo<!--
       --><button type="button" class="choices__button" data-button="" aria-label="Remove item: 'gpt-3.5-turbo'">
            Remove item
          </button>
        </div></div><input type="text" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Choose an option" style="width: 116px;" data-listener-added_f11a48fe="true" aria-activedescendant="choices--choices-multiple-remove-button-item-choice-2"></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
      <div class="choices__list" dir="ltr" role="listbox" aria-multiselectable="true"><div class="choices__item choices__item--choice choices__item--selectable is-highlighted" data-select-text="Press to select" data-choice="" data-id="2" data-value="gpt-4" data-choice-selectable="" id="choices--choices-multiple-remove-button-item-choice-2" role="option" aria-selected="true">
        GPT-4
      </div></div></div></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-field checkbox">
               <input type="checkbox" id="cost">
               <label for="cost">Show usage and cost estimate</label>
            </div>
            <div class="form-field quantity">
               <label for="responseTokenLimit">Response Token Limit </label>
               <input id="responseTokenLimit" type="number" min="0" max="1000" step="50" value="1000">
            </div>

            <div class="form-field range">
               <label for="temp">Temperature</label>
               <input id="temperature" type="range" min="0" max="1" step="0.10" value="0.70">
            </div>
            <div class="form-field range">
               <label for="top">Top P</label>
               <input id="top_p" type="range" min="0" max="1" step="0.10" value="1.00">
            </div>
            <div class="form-field range">
               <label for="freq">Frequency Penalty</label>
               <input id="frequencyPenalty" type="range" min="0" max="1" step="0.10" value="0.00">
            </div>
            <div class="form-field range">
               <label for="presence">Presence Penalty</label>
               <input id="presencePenalty" type="range" min="0" max="1" step="0.10" value="0.00">
            </div>
         </form>


         <div class="close" id="cross">
            <span></span>
            <span></span>
            <span></span>
         </div>
      </section>





        
        <section tabindex="0" class="main css-uf99v8 egzxvld5" id="main" >
           <input type="hidden" name="csrfmiddlewaretoken" value="5ZAJS7aG8RLOZJJ4Mg1hFBCs5bB1o303r6H9bXK7SI0qglyB6kCZi8lAaLFjF2DE">
           <div class="sidebar-opener" id="sidebar-opener">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
           </div>
           <div class="block-container css-1y4p8pa egzxvld4">
              <div>
                 <div data-testid="stVerticalBlock" class="css-1n76uvr e1tzin5v0">
                    <div>
                       <div data-testid="stVerticalBlock" class="css-1n76uvr e1tzin5v0">
                          <div data-stale="false" class="element-container css-1muyuxp e1tzin5v2">
                             <div class="stHidden"></div>
                          </div>
                          <div data-stale="false" class="element-container css-1muyuxp e1tzin5v2">
                             <div class="stHidden"></div>
                          </div>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="stMarkdown">
                          <div data-testid="stMarkdownContainer" class="css-5rimss e16nr0p34">
                             <div class="css-1629p8f e16nr0p31">
                                <h1 id="mcq-generator">
                                   <div class="css-zt5igj e16nr0p33">
  
                                      <span class="css-10trblm e16nr0p30">MCQ Generator</span>
                                   </div>
                                </h1>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="stMarkdown">
                          <div data-testid="stMarkdownContainer" class="css-5rimss e16nr0p34">
                             <hr>
                          </div>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="stMarkdown">
                          <div data-testid="stMarkdownContainer" class="css-5rimss e16nr0p34">
                             <p>This micro-app allows you to generate multiple-choice questions quickly and consistently.
                             </p>
                             <p>It work with either GPT-3.5 Turbo, GPT-4, or both.</p>
                             <p>Optionally, users can modify the AI configuration by opening the left sidebar.</p>
                          </div>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="stTextArea">
                          <label aria-hidden="true" class="css-81oif8 effi0qh3">
                             <div data-testid="stMarkdownContainer" class="css-16idsys e16nr0p34">
                                <p>Enter the content for question generation:</p>
                             </div>
                          </label>
                          <div class="css-1om1ktf e1y61itm0">
                             <div data-baseweb="textarea" class="st-ck st-b3 st-ce st-b8 st-f9 st-fa st-fb st-fc st-cs st-ct st-cu st-cv st-cw st-b1 st-cx st-au st-ax st-av st-aw st-g9 st-ga st-gb st-gc st-gd st-d3 st-d4">
                                <div data-baseweb="base-input" class="">
                                   <textarea id="contentOfQst" aria-label="Enter the content for question generation:" aria-invalid="false" aria-required="false" autocomplete="on" inputmode="text" name="" placeholder="0/50000" type="textarea" rows="8" class=""></textarea>
                                </div>
                             </div>
                          </div>
                          <!-- <div class="css-1li7dat effi0qh1"><span class="css-0 e1m4n6jn0">0/50000</span></div> -->
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="stMarkdown">
                          <div data-testid="stMarkdownContainer" class="css-5rimss e16nr0p34">
                             <hr>
                          </div>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stCheckbox">
                          <label data-baseweb="checkbox" class="st-ey st-b3 st-ez st-bz st-f0 st-as st-ar st-f1 st-f2">
                             <span class=""></span><input id="focusOnlyProvidedText" aria-label="Focus only on the provided text" aria-checked="false" type="checkbox" class="mcqPromptCheckbox" value="">
                             <div class="st-fm st-fx st-by st-ae st-af st-ag st-fy st-ai st-aj">
                                <div visibility="0" class="css-y4bq5x ek41t0m0">
                                   <div data-testid="stMarkdownContainer" class="css-1vbkxwb e16nr0p34">
                                      <p>Focus only on the provided text</p>
                                   </div>
                                </div>
                             </div>
                          </label>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="stTextArea">
                          <label aria-hidden="true" class="css-81oif8 effi0qh3">
                             <div data-testid="stMarkdownContainer" class="css-16idsys e16nr0p34">
                                <p>Specify a learning objective (optional):</p>
                             </div>
                          </label>
                          <div>
                             <div data-baseweb="textarea" >
                                <div data-baseweb="base-input" class=""><textarea id="learningObj" aria-label="Specify a learning objective (optional):" aria-invalid="false" aria-required="false" autocomplete="on" inputmode="text" name="" placeholder="0/1000" type="textarea" rows="8" ></textarea>
                                </div>
                             </div>
                          </div>
                          <!-- <div class="css-1li7dat effi0qh1"><span class="css-0 e1m4n6jn0">0/1000</span></div> -->
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stSelectbox">
                          <label aria-hidden="true" class="css-81oif8 effi0qh3">
                             <div data-testid="stMarkdownContainer" class="css-16idsys e16nr0p34">
                                <p>Number of questions:</p>
                             </div>
                          </label>
                          <select class="mcqPromptSelect" name="no_of_questions" id="no_of_questions">
                             <option value="1">1</option>
                             <option value="2">2</option>
                             <option value="3">3</option>
                             <option value="4">4</option>
                             <option value="5">5</option>
                          </select>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stSelectbox">
                          <label aria-hidden="true" class="css-81oif8 effi0qh3">
                             <div data-testid="stMarkdownContainer" class="css-16idsys e16nr0p34">
                                <p>Correct answers per question:</p>
                             </div>
                          </label>
                          <select class="mcqPromptSelect" name="correct_ans_per_question" id="correct_ans_per_question">
                             <option value="1">1</option>
                             <option value="2">2</option>
                             <option value="3">3</option>
                             <option value="4">4</option>
                          </select>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stSelectbox">
                          <label aria-hidden="true" class="css-81oif8 effi0qh3">
                             <div data-testid="stMarkdownContainer" class="css-16idsys e16nr0p34">
                                <p>Question difficulty level:</p>
                             </div>
                          </label>
                          <select class="mcqPromptSelect" name="qs_df_level" id="qs_df_level">
                             <option value="university">University</option>
                             <option value="grade_school">Grade School</option>
                             <option value="high_school">High School</option>
                             <option value="other">Other</option>
                          </select>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stSelectbox">
                          <label aria-hidden="true" class="css-81oif8 effi0qh3">
                             <div data-testid="stMarkdownContainer" class="css-16idsys e16nr0p34">
                                <p>Number of distractors:</p>
                             </div>
                          </label>
  
                          <select class="mcqPromptSelect" name="no_of_distractors" id="no_of_distractors">
                             <option value="1">1</option>
                             <option value="2">2</option>
                             <option value="3">3</option>
                             <option value="4">4</option>
                             <option value="5">5</option>
                          </select>
  
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stSelectbox">
                          <label aria-hidden="true" class="css-81oif8 effi0qh3">
                             <div data-testid="stMarkdownContainer" class="css-16idsys e16nr0p34">
                                <p>Distractors difficulty</p>
                             </div>
                          </label>
  
                          <select class="mcqPromptSelect" name="distractors_df_level" id="distractors_df_level">
                             <option value="normal">Normal</option>
                             <option value="obvious">Obvious</option>
                             <option value="challenging">Challenging</option>
                          </select>
  
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stCheckbox">
                          <label data-baseweb="checkbox" class="st-ey st-b3 st-ez st-bz st-f0 st-as st-ar st-f1 st-f2">
                             <span class=""></span><input id="includeLearnerFeedback" aria-label="Include Learner Feedback?" aria-checked="false" type="checkbox" class="mcqPromptCheckbox" value="">
                             <div class="st-fm st-fx st-by st-ae st-af st-ag st-fy st-ai st-aj">
                                <div visibility="0" class="css-y4bq5x ek41t0m0">
                                   <div data-testid="stMarkdownContainer" class="css-1vbkxwb e16nr0p34">
                                      <p>Include Learner Feedback?</p>
                                   </div>
                                </div>
                             </div>
                          </label>
                       </div>
                    </div>
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stCheckbox">
                          <label data-baseweb="checkbox" class="st-ey st-b3 st-ez st-bz st-f0 st-as st-ar st-f1 st-f2">
                             <span class=""></span><input id="includeHints" aria-label="Include hints?" aria-checked="false" type="checkbox" class="mcqPromptCheckbox" value="">
                             <div class="st-fm st-fx st-by st-ae st-af st-ag st-fy st-ai st-aj">
                                <div visibility="0" class="css-y4bq5x ek41t0m0">
                                   <div data-testid="stMarkdownContainer" class="css-1vbkxwb e16nr0p34">
                                      <p>Include hints?</p>
                                   </div>
                                </div>
                             </div>
                          </label>
                       </div>
                    </div>
  
                    <div class="dynamic-form" id="dynamic-form"></div>
  
                    <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                       <div class="row-widget stSelectbox">
                          <label aria-hidden="true" class="css-81oif8 effi0qh3">
                             <div data-testid="stMarkdownContainer" class="css-16idsys e16nr0p34">
                                <p>Output format:</p>
                             </div>
                          </label>
  
                          <select class="mcqPromptSelect" name="output_format" id="output_format">
                             <option value="plain_text">Plain Text</option>
                             <option value="olx">OLX</option>
                          </select>
  
  
                       </div>
                    </div>
                    <div>
                       <p>View/edit full prompt</p>
                       <p id="mcq_prompt">Please write 1 University level multiple-choice question(s), each with 1 correct answer(s) and 1 distractors, based on text that I will provide. <br>Please create questions that incorporate both the provided text as well as your knowledge of the topic. <br>Format your response in a json array which contains all question like the following:<br>[{"type":"checkbox","name":"mcq_0","title":"Question:  Question Title goes here ","choices":[{"text":"A) Option A","value":"A) Option A"},{"text":"B) Option B","value":"B) Option B"},{"text":"C) Option C","value":"C) Option C"},{"text":"D) Option D","value":"D) Option D"}],"correctAnswer":["Option #) Correct Option"]}]Here is the text: <br>===============<br></p>
                    </div>
                    <div data-stale="false" class="element-container ">
                       <div class="row-widget stButton">
                          <button id="btnGenerateMCQ"  >
                             <div data-testid="stMarkdownContainer">
                                <p>Generate MCQs</p>
                             </div>
                          </button>
                       </div>
                    </div>
                    <!-- <button id="btnGenerateMCQ">Generate MCQs</button> -->


                    <div class="generate-mcqs-container">
                       <div class="response-data" id="response-data">
                          <div data-stale="false" class="element-container css-1hynsf2 e1tzin5v2">
                             <div class="stMarkdown">
                                <div data-testid="stMarkdownContainer" class="css-5rimss e16nr0p34">
                                   <div class="css-1629p8f e16nr0p31">
                                      <h5 level="5" id="ai-response">
                                         <div class="css-zt5igj e16nr0p33">
  
                                            <span class="css-10trblm e16nr0p30">AI Response:</span>
                                         </div>
                                      </h5>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div id="ai_response" class="ai-response" style="display:none">
                             <div id="statisticsChatGPT" class="gpt">
                                <div class="resp-row">
                                   <p>Usage Statistics:</p>
                                   <p id="usageModel"></p>
                                </div>
  
                                <div class="resp-row">
                                   <p>Total tokens:</p>
                                   <p id="usageTotalTokens"></p>
                                </div>
                                <div class="resp-row">
                                   <p>Prompt tokens:</p>
                                   <p id="usagePromptTokens"></p>
                                </div>
                                <div class="resp-row">
                                   <p>Completion tokens:</p>
                                   <p id="usageCompletionTokens"></p>
                                </div>
                                <div class="resp-row">
                                   <p>Total cost:</p>
                                   <p id="usageTotalCost"></p>
                                </div>
                             </div>
  
  
  
                             <div id="statisticsChatGPT4" class="gpt" style="display:none">
                                <div class="resp-row">
                                   <p>Usage Statistics:</p>
                                   <p id="usageModelGPT4"></p>
                                </div>
                                <div class="resp-row">
                                   <p>Total tokens:</p>
                                   <p id="usageTotalTokensGPT4"></p>
                                </div>
                                <div class="resp-row">
                                   <p>Prompt tokens:</p>
                                   <p id="usagePromptTokensGPT4"></p>
                                </div>
                                <div class="resp-row">
                                   <p>Completion tokens:</p>
                                   <p id="usageCompletionTokensGPT4"></p>
                                </div>
                                <div class="resp-row">
                                   <p>Total cost:</p>
                                   <p id="usageTotalCostGPT4"></p>
                                </div>
                             </div>
                          </div>
                          <div class="surveyForms">
                             <div id="surveyContainer" class="form"></div>
                             <div id="surveyContainerGPT4" class="form"></div>
                          </div>
                          <div id="hint_and_feedback">
  
                          </div>
                       </div>
                       <div class="lds-dual-ring" id="loader"></div>
  
                    </div> 
                    
                    <div data-stale="false" class="element-container css-1muyuxp e1tzin5v2">
                       <div class="stHidden"></div>
                    </div>
                    <div class="resize-triggers">
                       <div class="expand-trigger">
                          <div></div>
                       </div>
                       <div class="contract-trigger"></div>
                    </div>
                 </div>
              </div>
              <div class="resize-triggers">
                 <div class="expand-trigger">
                    <div></div>
                 </div>
                 <div class="contract-trigger"></div>
              </div>
           </div>
           <div data-iframe-height="true" class="css-1wrevtn egzxvld0"></div>
           <div class="css-qcqlej egzxvld3"></div>
           <div class="sidebar-opener" id="dev-opener">
           </div>
        </section>
        <section class="sidebar dev-mode-container hidden-dev-mode" id="dev-mode">
           <h1>Dev Mode</h1>
           <form action="#" class="sidebar-form" onsubmit="return addElement(event, this)">
              <div class="form-field">
                 <h4 for="ApiKey">Which element do you want to add to the form? </h4>
                 <div class="dev-mode-form-options">
                    <label class="radio">
                       <input type="radio" name="radio" checked="" value="input field">
                       <span for="#" class="radio-box">Input Field</span>
                    </label>
                    <label>
                       <input type="radio" name="radio" value="textarea">
                       <span for="#" class="radio-box">Textarea</span>
                    </label>
                 </div>
              </div>
              <div class="form-field">
                 <label for="title">What element title should be displayed?</label>
                 <input type="text" id="title" required="">
              </div>
              <div class="radio-bundles" id="form-field">
  
              </div>
              <div class="form-field range">
                 <button class="btn-primary" type="submit">Add Element</button>
              </div>
           </form>
  
  
           <div class="close" id="close-dev-mode">
              <span></span>
              <span></span>
              <span></span>
           </div>
        </section>
     </div>



     <script>

      let sidebar_opener = document.querySelector(".sidebar-opener")
      let sidebar_close = document.querySelector(".close")
      let sidebar = document.querySelector(".sidebar")

      sidebar_opener.addEventListener('click',()=>{
         sidebar.classList.remove("hidden-sidebar")
         sidebar.classList.add("visible-sidebar")
         sidebar_opener.style.display = "none";
      })
      sidebar_close.addEventListener('click',()=>{
         sidebar.classList.remove("visible-sidebar")
         sidebar.classList.add("hidden-sidebar")
         sidebar_opener.style.display = "block";
      })

      let dev_mode_sidebar = document.querySelector(".dev-mode-container")
      let close_dev_mode_sidebar = document.querySelector(".dev-mode-container .close")
      
      close_dev_mode_sidebar .addEventListener('click',()=>{
         dev_mode_sidebar.classList.remove("hidden-sidebar")
         dev_mode_sidebar.classList.add("visible-sidebar")
         dev_mode_sidebar.style.display = "none";
      })
     </script>
</body>
</html>