// TEXT-COLORS

$header-text-color: #ffffff;
$white: #ffffff;
$text-gray: #bcbcbc;
$text-gradient: linear-gradient(45deg, #5b69f0, #4df8d6);
$red: #ff0000ae;
$black: #000000;
$error-light: #e57373;

// BACKGROUND-COLORS
$bg-dark: #1e1e1e;
$bg-transparent: #d4d4d41a;

// BORDER-COLORS
$border-color: #8a8a8a;

//BORDER
$card-border: 1px solid $border-color;
