{% load i18n %}
{% load static %}
{% block content %}
    <body class="home" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="wrapper">
            <section class="hero-banner">
                <div class="container">
                    <div class="hero-text-area">
                        <div class="left-text">
                            <h1>Build AI-Powered Apps for Education as Easy as a Google Form</h1><div class="hero-btns">
                             <a class="btn-blue" href="#tryit-app">
                                {% translate "Try an App Right Now" %}
                                </a>
                             <a class="btn-transparent" href="{% url 'account_signup' %}">
                                {% translate "Get Started for Free" %} <img src= "{% static 'images/web/arrow-right.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="right-image">
                            <img src= "{% static 'images/web/hero-image.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </section>
         
            
            <section class="supercharge">
                <div class="container">
                    <div class="text-center bg-heading">
                        <h2>A drag-and-drop Tool that Supercharges your teaching</h2>
                        <p>Create apps for course development, feedback, assessment and more..</p>
                        <img src= "{% static 'images/web/micro-app-image.svg' %}" alt="">
                    </div>
                </div>
            </section>

            <section id="tryit-app" class="tryit-app">
                <div class="container">
                    <div class="text-center bg-heading">
                        <h2>Try it out in 3...2...1</h2>
                    </div>
                    <div class="try-boxes">
                        <div class="try-box">
                            <img src="{% static 'images/web/multiple-01.png' %}" alt="">
                            <div class="try-box-text">
                                <h4>MCQ Generator</h4>
                                <p>Generate multiple choice questions tailored to your content, audience, and teaching goals</p>
                                <a class="btn-blue" href="https://onmicro.ai/app/127">Go</a>
                            </div>
                        </div>
                        <div class="try-box">
            
                            <img src="{% static 'images/web/case-study-01.png' %}" alt="">
            
                            <div class="try-box-text">
                                <h4>Case Study Tutor</h4>
                                <p>Ask your students critical thinking questions about a shared case study and access the accuracy of thier responses</p>
                                <a class="btn-blue" href="https://onmicro.ai/app/128">Go</a>
                            </div>
                        </div>
                        <div class="try-box">
            
                            <img src="{% static 'images/web/writing-01.png' %}" alt="">
                            <div class="try-box-text">
                                <h4>Video Reflection</h4>
                                <p>Use Instructor Guidance and AI support to encourage students to engage critically with an instructional video without first relying on AI.</p>
                                <a class="btn-blue" href="https://onmicro.ai/app/129">Go</a>
                            </div>
                        </div>
                    </div>
            
                </div>
            </section>

            <section class="detail-type">
                <div class="container">
                    <div class="detail-boxes">
                        <div class="detail-col">
                            <div class="detail-type-box">
                                <div class="detail-img">
                                    <img src="{% static 'images/web/build-01.png' %}" alt="">
                                </div>
                                <div class="detail-text">
                                    <h4>Build</h4>
                                    <p>You are in charge. Drag-and-Drop to create apps that leverage AI to accelerate
                                        course development processes, scale your feedback, or automate assessment,
                                        all while protecting your voice and your pedagogy.</p>            
                                </div>
                            </div>
                            <div class="detail-type-box">
                                <div class="detail-img">
                                    <img src="{% static 'images/web/lock-01.png' %}" alt="">
                                </div>
                                <div class="detail-text">
                                    <h4>Deliver</h4>
                                    <p>Keep an app private, restrict it to a selected group, or open it to anyone you want
                                        to share it with.</p>
                                </div>
                            </div>
                            <div class="detail-type-box">
                                <div class="detail-img">
                                    <img src="{% static 'images/web/analayze-01.png' %}" alt="">
                                </div>
                                <div class="detail-text">
                                    <h4>Analyze</h4>
                                    <p>Understand your users usage and satisfactions, to determine where AI is helping and where it can be improved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </section>

            <section class="maintain-section">
                <div class="container"></div>
                    <div class="maintain-boxes">
                        <div class="maintain-col">
                            <div class="maintain-type-box">
                                <div class="maintain-img">
                                    <img src="{% static 'images/web/reclaim-01.png' %}" alt="">
                                </div>
                                <div class="maintain-text">
                                    <h4>Reclaim your Time Maintain Quality</h4>
                                    <p>In a controlled study, participants improved productivity by over 3x and quality by nearly 2x
                                        over traditional non-AI methods, when using micro-apps for a specific task.</p>
                                </div>
                            </div>
                            <div class="maintain-type-box">
                                <div class="maintain-img">
                                    <img src="{% static 'images/web/brain-01.png' %}" alt="">
                                </div>
                                <div class="maintain-text">
                                    <h4>Use the right LLM for your job</h4>
                                    <p>All LLM's have strengths and weaknesses. Switch seamlessly between the best LLMs to find the right one for the job, or bring your own!</p>
                                </div>
                            </div>
                            <div class="maintain-type-box">
                                <div class="maintain-img">
                                    <img src="{% static 'images/web/lock-01.png' %}" alt="">
                                </div>
                                <div class="maintain-text">
                                    <h4>We believe in Access for all</h4>
                                    <p>No more locking into LLMs for monthly fees regardless of usage. You only pay for app creators. Apps can be shared with anyone and only pay for usage.</p>
            
            
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </section>


            <section class="our-client-say">
                <div class="container">
                    <div class="our-client-boxes">
                        <div class="client-box text-center bg-heading">
                            <h2>What Our Clients Say?</h2>
            
                            <div class="box-inner">
                                <div class="box-inner-col">
                                    <div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                    <p>Thanks OnMicro! Not only do I now have a library of apps that I can re-use and adapt for
                                        common tasks. I can also share these apps with others!</p>
            
                                    <div class="client-detail">
                                        <div class="client-img">
                                            <img src="{% static 'images/web/client-1.png' %}" alt="">
                                        </div>
                                        <div class="client-name">
                                            <h4>John Wellberg</h4>
                                            <p>Project Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-inner-col">
                                    <div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                    <p>Like most organizations, we’ve got some AI “power users” and some overall rockstars. We were
                                        able to build that organizational knowledge into AI-powered apps that can be shared with
                                        everyone at our organization.</p>
            
                                    <div class="client-detail">
                                        <div class="client-img">
                                            <img src="{% static 'images/web/client-2.png' %}" alt="">
                                        </div>
                                        <div class="client-name">
                                            <h4>John Wellberg</h4>
                                            <p>Project Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-inner-col">
                                    <div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                    <p>We're able to get our people reaping the benefits of AI without sending them into the "wild west" of generics
                                        LLMs and without shelling out for a bunch of licenses to a suite of different legacy AI apps.
                                    </p>
            
                                    <div class="client-detail">
                                        <div class="client-img">
                                            <img src="{% static 'images/web/client-3.png' %}" alt="">
                                        </div>
                                        <div class="client-name">
                                            <h4>John Wellberg</h4>
                                            <p>Project Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        </div>
            
                    </div>
            
            
                </div>
            </section>

            <section class="contact-us">
                <div class="container">
                    <div class="content">     
                        <div class="leftpan">
                            <div class="bg-heading">
                                <h1 class="main-heading">Follow Our Mission to Give AI Agency to Educators</h1>
                                <p class="subtitle-text">We post new apps and research on a regular basis. Add your email to be kept up to date</p>
                            </div>
                        </div>
                        <div class="rightpan">
                            <div class="form-box">
                                <div class="form-field">
                                    <input type="text" placeholder="Full Name">
                                </div>
                                
                                <div class="form-field">
                                    <input type="email" placeholder="Email">
                                </div>
                             
                            </div>
                            <input type="submit" value="Follow OnMicro.AI">
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </body>
    {% endblock content %}

